<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <h1>Register</h1>
    <form method="POST" enctype="multipart/form-data">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        Upload Image: <input type="file" name="image" required><br>
        <input type="submit" value="Register">
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
